*{
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.products{
    &__items{
        display: flex;
        justify-content: space-between;
        gap:10px;
    }

    &__item{

    }
    .card{
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        &__title{
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.534);
            width: 100%;
            margin: 0;
            padding:20px 5px;
        }

        &__description{
            transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .6s ease-in-out, border-radius .4s ease;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(34, 31, 31, 0.966);
            color: rgb(209, 209, 209);
            padding: 10px;
            border-radius: 50%;
            font-size: 19px;
            // transform: scale(2) ;
            // transform: translateY(-100%);
            // transform: translateY(100%);
            // transform: translateX(100%);
            // transform: translateX(-100%);
            transform: scale(0);
        }
        &:hover .card__description{
            opacity: 1;
            visibility: visible;
            transform: scale(1) rotate(360deg);
            border-radius: 0;
        }
    }
}

.number{
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-weight: 700;
}


.scene{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 400px;
}

.pyramid{
    $size:200px;
    transform-style: preserve-3d;
    width:$size;
    height: $size;
    border: 1px dashed red;
    position: relative;
    transform: rotateY(90deg);
    &__bottom{
        width: $size;
        height: $size;
        position: absolute;
        transform: rotateX(90deg) translateZ(-$size/2);
        background-color: aqua;
    }

    &__left, &__right, &__front, &__back{
        
        // border: ;
        position: absolute;
        
        border: $size/2 solid transparent;
        // background-color: aqua;
        border-bottom-color:rgb(128, 65, 65) ;
        bottom: 0;
        &::after{
            content: attr(data-a);
            position: absolute;
            bottom: 30px;
        }
        // transform: rotateX(80deg) translateZ(-$size/2);
        // background-color: aqua;
    }
    $degree:70deg;
    &__left{
        transform-origin: 100% 100%;
        transform:translateX(0px) translateZ(-100px) rotateY(90deg) rotateX($degree);
    }
    &__right{
        transform-origin: 100% 100%;
        
        transform:translateX(-200px) translateZ(100px) rotateY(-90deg) rotateX($degree)  ;
    }
    &__front{
        transform: translateZ($size/2) rotateX($degree);
        transform-origin: 100% 100%;
    }
    &__back{
        transform: translateZ(-$size/2) rotateX(-$degree);
        transform-origin: 100% 100%;
    }
}